.ItemDetail {
	width: 70%;
	margin: 0 auto;
	display: flex;
	gap: 50px;
	padding-top: 20px;
	padding-left: 40px;
	height: 100vh;
}

.productImage {
	align-self: self-start;
	object-fit: contain;
	max-width: 300px;
}

.infoContainer {
	color: whitesmoke;
}

.infoContainer span {
	font-weight: bold;
}

@media (max-width: 600px) {
	.ItemDetail {
		flex-direction: column;
	}
}
