.navbarContainer {
	display: flex;
	gap: 12px;
	justify-content: space-between;
	align-items: flex-end;
	padding: 8px 16px;
	background-color: #0e0d0d;
	margin-bottom: 12px;
}

.itemsContainer {
	color: rgb(245, 245, 245);
	display: flex;
	width: 100%;
	align-items: flex-end;
	gap: 100px;
	list-style: none;
}

.item {
	font-style: none;
}

.navbarLogo {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 2px solid rgba(26, 117, 203, 0.898);
}
