.navbarContainer {
	display: flex;
	gap: 24px;
	justify-content: space-between;
	align-items: flex-end;
	padding: 16px 16px 8px 16px;
	background-color: #0e0d0dc9;
}

.itemsContainer {
	display: flex;
	width: 100%;
	align-items: flex-end;
	gap: 50px;
	list-style: none;
}

.item {
	font-style: none;
}

.navbarLogo {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 2px solid #1d4ac6e5;
}
